@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #111;
  --primary: #a06ba5;
  --primary-foreground: #fff;
  --destructive: #e11d48;
  --destructive-foreground: #fff;
  --accent: #ede9fe;
  --accent-foreground: #7c3aed;
  --secondary: #ede9fe;
  --secondary-foreground: #7c3aed;
  --border: #222;
}

/* Variables de tema personalizadas */
:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181022;
    --foreground: #fff;
    --primary: #a06ba5;
    --primary-foreground: #fff;
    --destructive: #e11d48;
    --destructive-foreground: #fff;
    --accent: #ede9fe;
    --accent-foreground: #a06ba5;
    --secondary: #ede9fe;
    --secondary-foreground: #a06ba5;
    --border: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
